.menu_buttons_position
{
    width: 960px;
    margin: 0 auto;
}

.menu_list
{
    display: inline-block;
}

.menu_list a
{
    float: left;
    text-decoration: none;
    color: #333;
    font-family: 'Georgia';
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    padding: 9px 16px 9px 23px;
}

.menu_list a:hover
{
    color: #fff;
    background: #128b73;
}

.menu_list i
{
    padding-right: 9px;
}

.header_image
{
    margin-top: -5px;
    width: 100%;
    height: 400px;
}

.container
{
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.left_container
{
    float: left;
    width: 330px;
    margin-right: 60px;
}

.my_photo
{
    margin-top: -210px;
    margin-bottom: 42px;
    width: 330px;
    height: 350px;
    border-radius: 5px;
}

.film_serial
{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: rgb(21, 169, 140);
    line-height: 1.333;
    font-weight: bold;

    padding-top: 100px;
}

.list
{
    margin-top: 13px;
    margin-bottom: 40px;
    padding-left: 22px;
    
    font-family: 'Georgia';
    font-size: 19px;
    color: rgb(85, 85, 85);
    line-height: 1.895;
}

.right_container
{
    float: left;
    width: 560px;
}

.quote
{
    font-size: 28px;
    font-family: 'Georgia';
    color: #fff;
    font-style: italic;
    line-height: 1.5;
    
    margin-top: -165px;
}

.qoute_author_name
{
    padding-left: 4px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    line-height: 42px;
}

.my_name
{
    padding-top: 82px;

    font-family: 'Open Sans';
    font-size: 48px;
    color: #333333;
    line-height: 0.875;
    font-weight: bold;
}

.rectangle
{
    padding-top: 32px;
}

.text
{
    font-family: 'Georgia';
    font-size: 19px;
    color: rgb(85, 85, 85);
    line-height: 32px;

    margin-top: 40px;
}

.hobby
{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: #333333;
    line-height: 1.167;
    font-weight: normal;

    margin-top: 42px;
    margin-bottom: -25px;
}

.vk
{
    margin-top: 42px;
}

.my_vk
{
    font-family: 'Georgia';
    font-size: 19px;
    color: rgb(21, 169, 139);
    line-height: 32px;
    text-decoration: none;
}

.link
{
    font-family: 'Georgia';
    color: rgb(21, 169, 139);
    text-decoration: underline;
}

.my_films
{
    margin: 0 auto;
    margin-top: 94px;
    width: 1200px;
}

.favorite_film
{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 34px;
}

.film_block
{
    float: left;
    margin-right: 20px;
}

.it
{
    float: right;
    margin-right: 0px;
}

.films img
{
    width: 285px;
    height: 190px;
    border-radius: 4px;
}

.films h3
{
    margin-top: 20px;
    font-size: 22px;
    font-family: 'OpenSans', sans-serif;
    color: #333;
    font-weight: bold;
    line-height: 1.455;
}

.films p
{
    max-width: 270px;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Georgia';
    color: rgb(85, 85, 85);
    line-height: 28px;
    font-weight: 400;
}


.all_film
{
    text-align: center;
    margin-top: 62px;
    margin-right: 20px;
    margin-bottom: 75px;
}

.all_film a
{
    text-decoration: none;
    font-size: 19px;
    font-family: 'Georgia';
    color: white;
    line-height: 2;
    border-radius: 5px;
}

.button
{
    padding: 14px 54px;
    background-color: rgb(21, 169, 140);
}

.volgatech
{
    background: #f9f9f9;
    text-align: center;
    padding: 18px 0;
    margin-left: -20px;
}


.foot
{
    font-size: 16px;
    font-family: 'Georgia';
    color: rgb(85, 85, 85);
    line-height: 2;
    font-weight: 400;
}


.clearfix
{
    clear: both;
}
